body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.isClickable:hover {
  cursor: pointer;
}

.rpv-thumbnail__item--selected {
  border: 4px solid #9ebdfa !important;
  background: white !important;
}

.rpv-thumbnail__item {
  background: white !important;
}
.rpv-thumbnail__item--single {
  background: white !important;
}
